#output li{ 
 list-style: none;
 border: solid 1px black;
 margin: 10px;
 width: 18%;



}
#output ul{
   text-align: center; 
   margin: 0;
   padding: 0;
   display: flex;
   flex-wrap:wrap;
   justify-content:center;
  
}
